.q1 {
  position: absolute;
  right: 100px;
  bottom: 30%;
  max-width: 234px;
  width: 100%;
}

.q2 {
  position: absolute;
  left: 4%;
  bottom: 30%;
  max-width: 234px;
  width: 100%;
}

.q2_2025 {
  position: absolute;
  top: 200px;
  right: 30%;
  max-width: 234px;
  width: 100%;
}

.q3 {
  position: absolute;
  bottom: 10%;
  left: 50%;
  max-width: 234px;
  width: 100%;
}

.q4 {
  position: absolute;
  left: 30%;
  top: 340px;
  max-width: 234px;
  width: 100%;
}
