.q1 {
  position: absolute;
  right: 100px;
  bottom: 200px;
}

.q2 {
  position: absolute;
  left: 100px;
  bottom: 50%;

}

.q2_2025 {
  position: absolute;
  top: 200px;
  right: 200px;
}

.q3 {
  position: absolute;
  bottom: 1200px;
  left: 50%;
}

.q4 {
  position: absolute;
  left: 40%;
  top: 400px;
}
