.thirdBlock {
  grid-area: third;
  border-radius: 22px;
  border: 1px solid rgba(105, 118, 134, 0.4);
  background: #070e15;
  box-shadow:
    0px 0px 61.072px 0px rgba(134, 171, 211, 0.4) inset,
    0px 0px 14.608px 0px rgba(134, 172, 211, 0.16);
  padding: 38px 14px 14px;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;

    .textHeader {
      @include Regular_14;
      color: var(--white);
      text-transform: uppercase;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 20px;

    @include respond(tablet) {
      flex-direction: column;
      gap: 10px;
    }

    .block {
      height: 100%;
      width: 100%;
      border-radius: 4px;
      border: 1px dashed rgba(255, 255, 255, 0.16);
      background: rgba(255, 255, 255, 0.08);
      padding: 52px 0px;

      .text {
        @include Regular_14;
        text-align: center;
        color: var(--white);
      }
    }
  }
}
