.firstBlock {
  grid-area: first;
  border-radius: 22px;
  border: 1px solid rgba(105, 118, 134, 0.4);
  background: #070e15;
  box-shadow:
    0px 0px 61.072px 0px rgba(134, 171, 211, 0.4) inset,
    0px 0px 14.608px 0px rgba(134, 172, 211, 0.16);
  padding: 38px 14px 14px;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;

    .textHeader {
      @include Regular_14;
      opacity: 0.5;
      color: var(--white);
      text-transform: uppercase;
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .execution {
      display: flex;
      border-radius: 10px;
      border: 1px solid rgba(105, 118, 134, 0.4);
      width: max-content;
      width: 100%;
      position: relative;

      @include respond(tablet) {
        flex-direction: column;
      }

      .name {
        padding: 12px;
        border-right: 1px dashed rgba(105, 118, 134, 0.4);
        display: flex;
        justify-content: center;

        @include respond(tablet) {
          border-right: none;
          border-bottom: 1px dashed rgba(105, 118, 134, 0.4);
        }

        .text {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          text-transform: uppercase;
          @include Regular_14;
          text-align: center;

          @include respond(tablet) {
            transform: rotate(0deg);
            writing-mode: horizontal-tb;
          }
        }
      }

      .content {
        padding: 8px 22px;
        width: 100%;

        @include respond(tablet) {
          padding: 8px;
        }

        .polygon {
          padding: 20px 10px 10px;
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.37);
          background: radial-gradient(
            53.85% 100% at 50% 100%,
            rgba(137, 156, 175, 0.2) 0%,
            rgba(53, 61, 70, 0.18) 100%
          );
          margin-bottom: 28px;
          position: relative;

          .polygonHeader {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            margin-bottom: 16px;

            .cdkText {
              @include Regular_14;
              text-transform: uppercase;
              color: var(--white);
            }
          }

          .polygonContent {
            display: grid;
            grid-template-columns: repeat(4, minmax(40px, 195px));
            gap: 6px;

            @include respond(tablet) {
              grid-template-columns: repeat(2, 1fr);
            }

            .polygonBlock {
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 1px dashed rgba(255, 255, 255, 0.16);
              background: rgba(255, 255, 255, 0.08);
              padding: 12px 0px;

              img {
                margin-bottom: 6px;
              }

              .text {
                @include Regular_14;
                color: var(--white);
                max-width: 104px;
                text-align: center;
              }
            }
          }

          .arrowOne {
            position: absolute;
            bottom: -22px;
            left: 47.5%;
            right: 50%;
          }
        }

        .lumiaStream {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          background: var(--white);
          border-radius: 4px;
          padding: 8px;
          width: 100%;
          @include transition;

          &:hover {
            @include transition;
            opacity: 0.85;
          }

          .text {
            @include Regular_14;
            text-transform: uppercase;
            color: #000;
          }
        }
      }

      .arrowOne {
        position: absolute;
        bottom: -22px;
        left: 50%;
        right: 50%;
      }
    }

    .da {
      display: flex;
      border-radius: 10px;
      border: 1px solid rgba(105, 118, 134, 0.4);
      width: 100%;
      position: relative;

      @include respond(tablet) {
        flex-direction: column;
      }

      .name {
        padding: 12px;
        border-right: 1px dashed rgba(105, 118, 134, 0.4);
        display: flex;
        justify-content: center;

        @include respond(tablet) {
          border-right: none;
          border-bottom: 1px dashed rgba(105, 118, 134, 0.4);
        }

        .text {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          text-transform: uppercase;
          @include Regular_14;
          text-align: center;

          @include respond(tablet) {
            transform: rotate(0deg);
            writing-mode: horizontal-tb;
          }
        }
      }

      .content {
        padding: 16px 32px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;

        @include respond(tablet) {
          padding: 8px;
          flex-direction: column;
        }

        .contentBlock {
          border-radius: 4px;
          border: 1px dashed rgba(255, 255, 255, 0.16);
          background: rgba(255, 255, 255, 0.08);
          width: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 95px;

          .info {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 8px;

            .textDa {
              @include Regular_14;
              color: var(--white);
            }
          }

          .description {
            @include Regular_14;
            color: var(--white);
          }
        }
      }

      .arrowOne {
        position: absolute;
        bottom: -22px;
        left: 50%;
        right: 50%;
      }
    }

    .settlement {
      display: flex;
      border-radius: 10px;
      border: 1px solid rgba(105, 118, 134, 0.4);
      width: 100%;

      @include respond(tablet) {
        flex-direction: column;
      }

      .name {
        padding: 12px;
        border-right: 1px dashed rgba(105, 118, 134, 0.4);
        display: flex;
        justify-content: center;

        @include respond(tablet) {
          padding: 12px;
          border-right: none;
          border-bottom: 1px dashed rgba(105, 118, 134, 0.4);
        }

        .text {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          text-transform: uppercase;
          @include Regular_14;
          text-align: center;

          @include respond(tablet) {
            transform: rotate(0deg);
            writing-mode: horizontal-tb;
          }
        }
      }

      .content {
        padding: 16px 32px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;

        @include respond(tablet) {
          padding: 8px;
          flex-direction: column;
        }

        .contentBlock {
          border-radius: 4px;
          border: 1px dashed rgba(255, 255, 255, 0.16);
          background: rgba(255, 255, 255, 0.08);
          width: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
    }
  }

  .arrows {
    position: absolute;
    bottom: 100px;
    right: -98px;

    @include respond(tabletL) {
      bottom: unset;
      top: -50px;
      right: 20px;
      transform: rotate(-90deg);
    }
  }

  .arrowsBottom {
    position: absolute;
    bottom: -50px;
    left: 45%;
    transform: rotate(90deg);

    @include respond(tabletL) {
      left: 40%;
    }
  }
}
