.text {
  @include Regular_32;
  border-right: 1px solid var(--white);
  animation: blink 1s step-end infinite;
  background: linear-gradient(90deg, #b6daff 0%, #fff 45.5%, #505e7d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include respond(tabletL) {
    font-size: 22px;
  }

  @include respond(mobileL) {
    font-size: 20px;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--white);
  }
}
