.wrp {
  position: absolute;
  bottom: 74px;
  z-index: 3;
  left: 64px;

  @include respond(tablet) {
    left: 24px;
  }

  .info {
    width: 100%;
    max-width: 775px;

    @include respond(mobile375) {
      max-width: 320px;
    }

    .title {
      margin-bottom: 24px;
      @include Semibold_100;
      text-align: left;
      text-shadow: var(--text_shadow);

      @include respond(tablet) {
        @include Semibold_50;
      }

      @include respond(mobileL) {
        margin-bottom: 48px;
      }

      @include respond(mobile375) {
        @include Semibold_24;
        margin-bottom: 24px;
      }
    }

    .description {
      @include Regular_24;
      color: var(--white);
      text-shadow: var(--text_shadow);

      @include respond(mobileL) {
        @include Regular_16;
      }

      &.margin {
        margin-bottom: 40px;

        @include respond(mobileL) {
          margin-bottom: 34px;
        }
      }
    }
  }
}
