.videoWrapper {
  position: relative;
  width: 850px;
  height: 550px;
  overflow: hidden;
  z-index: 1;

  .video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
}
