.pagination {
  position: fixed;
  z-index: 3;
  right: 64px;
  top: 40%;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;

    .bullet {
      cursor: pointer;
      height: 8px;
      width: 8px;
      max-width: 8px;
      min-width: 8px;
      max-height: 8px;
      min-height: 8px;
      background: transparent;
      border-radius: 50%;
      @include transition;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;

      &:hover {
        .dot {
          background: var(--white);
        }
      }

      &.active {
        border: 1px solid var(--white);

        .dot {
          background: var(--white);
        }
      }

      .dot {
        height: 6px;
        width: 6px;
        max-width: 6px;
        min-width: 6px;
        max-height: 6px;
        min-height: 6px;
        border-radius: 50%;
        background: var(--white_24);
        box-shadow: var(--bullet_shadow);
        @include transition;
      }
    }
  }
}
