.btnLink {
  padding: 15.5px 35px;
  border-radius: 6px;
  border: 1px solid transparent;
  background: var(--background-btn-color);
  box-shadow: var(--btn-shadow-one), var(--btn-shadow-second);
  @include Semibold_16;
  color: var(--d9);
  @include transition_500;

  &:hover {
    border: 1px solid var(--btn-border);
    color: var(--white);
  }
}
