.sectionEight {
  height: 100vh;
  min-height: 100vh;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  padding: 0px 64px;

  @include respond(tabletL) {
    padding: 0px 24px;
  }

  @include respond(tablet) {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    min-height: 100%;
    margin-bottom: 48px;
  }

  .wrp {
    position: relative;
    height: max-content;
    padding-top: 120px;
    padding-right: 42px;
    z-index: 2;

    @include respond(tablet) {
      padding-top: 12px;
    }

    .info {
      max-width: 700px;

      .title {
        background: linear-gradient(90deg, #B6DAFF 0%, #FFFFFF 45.5%, #505E7D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 52px;
        text-align: left;
        margin-bottom: 34px;
        font-weight: 400;

        @include respond(tablet) {
          @include Semibold_32;
        }

        @include respond(mobileL) {
          margin-bottom: 24px;
        }

        @include respond(mobile375) {
          @include Semibold_24;
        }
      }

      .description {
        @include Regular_20;
        color: var(--white);

        @include respond(mobileL) {
          @include Regular_16;
        }

        @include respond(mobile375) {
          @include Regular_14;
        }
      }
    }
  }
}
