.sectionBlock {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  padding: 0px 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tabletL) {
    padding: 0px 24px;
  }

  @include respond(tablet) {
    height: 400px;
    min-height: 400px;
  }

  @include respond(mobileL) {
    height: 300px;
    min-height: 300px;
  }


  .centerText {
    padding: 34px 73px;
    border: 1px solid #19244A;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #273445;
    max-height: 148px;
    width: 100%;
    max-width: 825px;
    @media (max-width: 960px) {
      padding: 23px 33px;
      max-width: 264px;
      max-height: 71px;
    }

    & .text {
      font-weight: 400;
      font-size: 57px;
      letter-spacing: 2%;
      text-align: center;
      line-height: 79.8px;
      @media (max-width: 960px) {
        font-size: 18px;
        line-height: 25.2px;
      }
    }
  }
  
  .title {
    @include Semibold_32;
    margin-bottom: 24px;
    text-align: center;

    @include respond(tablet) {
      margin-bottom: 16px;
    }
  }

  .videoWrapper {
    .video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      object-fit: contain;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
