.header {
  background: transparent;
  position: fixed;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;

    .logo {
      display: block;
    }

    .navbar {
      display: flex;

      .list {
        display: flex;
        align-items: center;
        gap: 64px;
      }
    }
  }
}