.secondSection {
  height: 100vh;
  min-height: 100vh;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;

  @include respond(laptopB) {
    height: 100%;
    min-height: 100%;
  }

  @include respond(tabletL) {
    padding: 0px 24px;
  }

  @include respond(tablet) {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    min-height: 100%;
    margin-bottom: 48px;
  }

  .wrp {
    position: relative;
    height: max-content;
    padding-top: 120px;
    z-index: 2;

    @include respond(tablet) {
      padding-top: 12px;
    }
    
    .info {
      max-width: 700px;

      .title {
        background: linear-gradient(90deg, #B6DAFF 0%, #FFFFFF 45.5%, #505E7D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 52px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 34px;
  
        @include respond(tabletL) {
          @include Semibold_32;
        }
      }
  
      .description {
        @include Regular_20;
        font-size: 23px;
        color: var(--white);

        @include respond(tabletL) {
          font-size: 18px;
          }
      }
    }
  }

  .vid {
    @include respond(mobileL) {
      transform: scale(1.1);
      margin-top: 40px;
    }
  }
}
