.sectionNine {
  height: 100vh;
  min-height: 100vh;
  position: relative;
  scroll-snap-align: start;
  padding: 0px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tabletL) {
    padding: 0px 24px;
  }

  @include respond(tablet) {
    flex-direction: column-reverse;
    justify-content: start;
    height: 100%;
    min-height: 100%;
    margin-bottom: 48px;
  }

  .wrp {
    position: relative;
    height: max-content;
    padding-top: 120px;
    z-index: 2;

    @include respond(tablet) {
      padding-top: 12px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .maybeImg {
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;

        .video {
          transform: scale(1.3);
        }
      }

      .title {
        background: linear-gradient(90deg, #B6DAFF 0%, #FFFFFF 45.5%, #505E7D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-weight: 400;
        text-align: center;
        margin-top: 43px;
        margin-bottom: 25px;

        @include respond(tabletL) {
          font-size: 32px;
        }

        @include respond(mobileL) {
          margin-bottom: 24px;
        }
      }

      .description {
        text-align: center;
        @include Regular_20;
        color: var(--white);

        @include respond(mobileL) {
          @include Regular_16;
        }

        @include respond(mobile375) {
          @include Regular_14;
        }
      }
    }
  }
}
